[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eduResearchR"]
	path = eduResearchR
	url = https://github.com/jlmarmanillo-jlms/eduresearchr
